<div class="modal-header">
  <h5 class="modal-title">Inscrivez-vous</h5>
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    (click)="closeModal()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!--    <p>{{ fromParent | json }}</p>-->
  <form [formGroup]="FormRegister">
    <div class="form-group">
      <label for="username">UserName</label>
      <input
        type="username"
        class="form-control"
        id="username"
        formControlName="username"
        aria-describedby="firstname"
      />
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        id="password"
      />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    data-dismiss="modal"
    (click)="closeModal()"
  >
    Close
  </button>
  <button
    type="submit"
    [disabled]="!FormRegister.valid"
    class="btn btn-primary"
    (click)="register()"
  >
    Send
  </button>
</div>
