<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" [routerLink]="['/']">
    <img
      src="../../../assets/img/logo.jpg"
      class="logo"
      width="40"
      height="40"
      alt="logo"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end align-items-end"
    id="navbarNav"
  >
    <ul class="navbar-nav">
      <!-- <li class="nav-item" *ngIf="currentUser">
        <a
          class="nav-link"
          href="#"
          *ngIf="currentUser && currentUser.data.user.user_role == 'admin'"
          [routerLink]="['/admin']"
        >
          Admin space</a
        >
      </li>
      <li class="nav-item" *ngIf="currentUser">
        <a
          class="nav-link"
          href="#"
          *ngIf="currentUser.data.user.user_role == 'user'"
          [routerLink]="['/mySpace', currentUser.data.user.id]"
        >
          My space</a
        >
      </li> -->

      <li class="nav-item" *ngIf="!currentUser">
        <a class="nav-link" href="#" (click)="showConnectionModal()">Sign In</a>
      </li>
      <li class="nav-item" *ngIf="!currentUser">
        <a class="nav-link" href="#" (click)="showInscriptionModal()"
          >Sign Up</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" *ngIf="currentUser">
          Hello {{ currentUser.data.user.username }}
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="currentUser && currentUser.data.user.role == 'USER'"
          (click)="goUserSpace(currentUser)"
        >
          My space
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="currentUser && currentUser.data.user.role == 'admin'"
          (click)="goUserSpace(currentUser)"
        >
          Admin
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" *ngIf="currentUser" (click)="logout()"
          >Sign out</a
        >
      </li>
    </ul>
  </div>
</nav>
