<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-1">
        <nav class="nav flex-column blue lighten-5 py-4">
          <a class="nav-link active" href="#">Active</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link disabled" href="#">Disabled</a>
        </nav>
      </div>
      <div class="col-11">
        
        <app-books-guest></app-books-guest>
      </div>
    </div>
  </div>
</section>
