<section>
  <!-- Search form -->
  <!-- <div class="md-form mt-5 search">
    <input
      class="form-control"
      type="text"
      placeholder="Search"
      aria-label="Search"
    />
  </div> -->
  <!-- Basic dropdown -->
  <button
    class="btn btn-primary dropdown-toggle mr-4"
    type="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Genre
  </button>

  <div class="dropdown-menu">
    <a class="dropdown-item" *ngFor="let category of allCategory" href="#">{{
      category.label
    }}</a>
  </div>
  <!-- Basic dropdown -->

  <div class="container">
    <div class="row">
      <div
        class="col-lg-3 col-md-4 col-sm-6 pt-5"
        *ngFor="let book of allBooks"
      >
        <div
          class="card text-center shadow image"
          (dblclick)="goByBookId(book.id)"
        >
          <img
            src="https://kuda-mo.ru/uploads/292de9dd76388aad3b62427f9f44c72e.jpeg"
            class="img-fluid mx-auto"
            width="100%"
            height="auto"
            alt="..."
          />
          <div class="card-body">
            <span>{{ book.firstname }} {{ book.lastname }}</span>
            <h6>{{ book.book_title }}</h6>
          </div>
          <div class="card-footer">
            <!-- <button
              type="button"
              class="btn btn-info"
              *ngIf="book.dispo == 'true'"
            >
              emprunter
            </button> -->
            <p *ngIf="book.dispo == 'true'">Disponible</p>
            <p *ngIf="book.dispo == 'false'">Pas dispo</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <p>LALALALALLA</p> -->
