<app-nav></app-nav>

<!-- <section>
  <div class="col-md-12" style="margin-top: 150px">
    <div class="row">
      <div class="col-md-6" style="text-align: center">
        <h1>{{ bookDetail.book_title }}</h1>
        <p>{{ bookDetail.resume }}</p>

        <div>
          <h4>{{ bookDetail.firstname }}{{ bookDetail.lastname }}</h4>
          <p>{{ bookDetail.biography }}</p>
        </div>

        <div>
          <button
            type="button"
            class="btn btn-warning"
            [routerLink]="['/books']"
          >
            Borrow
          </button>
        </div>
      </div>

      <div class="col-md-6" style="align-items: center">
        <img
          src="{{ bookDetail.img }}"
          alt=""
          class="img-responsive"
          style="width: 100%; border-radius: 10px"
        />
      </div>
    </div>
  </div>
</section> -->
