<div class="modal-header">
  <h5 class="modal-title">Ajouter un livre</h5>
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    (click)="closeModal()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!--    <p>{{ fromParent | json }}</p>-->
  <form [formGroup]="FormAddBook">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title"
      />
    </div>

    <div class="form-group">
      <label for="author">Category</label>
      <select class="form-control" id="author">
        <option *ngFor="let category of allCategory">
          {{ category.label }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="author">Auteur</label>
      <select class="form-control" id="author">
        <option *ngFor="let author of allAuthors">
          {{ author.firstname }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="imgUrl">Image</label>
      <input
        type="text"
        class="form-control"
        id="imgUrl"
        formControlName="imgUrl"
      />
    </div>
    <div class="form-group">
      <label for="resume">Resume</label>
      <input
        type="text"
        class="form-control"
        formControlName="resume"
        id="resume"
      />
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <input
        type="date"
        class="form-control"
        formControlName="date"
        id="date"
      />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    data-dismiss="modal"
    (click)="closeModal()"
  >
    Close
  </button>
  <button
    type="submit"
    [disabled]="!FormAddBook.valid"
    class="btn btn-primary"
    (click)="addBook()"
  >
    Send
  </button>
</div>
