<app-nav></app-nav>

<section>
  <div class="col-md-12" style="margin-top: 150px">
    <div class="row">
      <div class="col-md-6" style="text-align: center">
        <h1>{{ data.data[0].title }}</h1>
        <h6 style="margin: 100px">{{ data.data[0].slogan }}</h6>

        <div>
          <button
            type="button"
            class="btn btn-warning"
            [routerLink]="['/books']"
          >
            Rechercher un livre
          </button>
        </div>
      </div>
      <div class="col-md-6" style="align-items: center">
        <img
          src="{{ data.data[0].img }}"
          alt=""
          class="img-responsive"
          style="width: 100%; border-radius: 10px"
        />
      </div>
    </div>
  </div>
</section>

<section style="margin-top: 150px">
  <h1>Que pouvons nous faire chez Jean librairie</h1>
  <div *ngFor="let item of feature" style="margin-top: 50px">
    <h4 style="margin-bottom: 50px">{{ item.sort }}.{{ item.title }}</h4>
    <div class="col-md-12" *ngIf="item.sort != 2">
      <div class="row">
        <div class="col-md-6">
          <img
            src="{{ item.img }}"
            alt=""
            class="img-responsive"
            style="width: 50%; border-radius: 10px"
          />
        </div>
        <div class="col-md-6" style="text-align: center">
          <p>{{ item.description }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-12" *ngIf="item.sort == 2">
      <div class="row" style="margin: 10px">
        <div class="col-md-6">
          <p>{{ item.description }}</p>
        </div>
        <div class="col-md-6" style="text-align: center">
          <img
            src="{{ item.img }}"
            alt=""
            class="img-responsive"
            style="width: 50%; border-radius: 10px"
          />
        </div>
      </div>
    </div>
  </div>
</section>
