<router-outlet></router-outlet>
<app-model-add-book></app-model-add-book>
<button
  type="button"
  class="btn btn-warning"
  [routerLink]="['admin /dashboard']"
></button>

<p>admin-dachboard-page works!</p>
